<mat-divider style="border: 1px solid"></mat-divider>

<!-- <div fxFlex="row wrap" fxLayoutGap="5px" style="padding-bottom: 10px;">
    <div fxFlex fxLayoutGap="5px">
        <div fxLayout="column" *ngFor="let data of channels" fxFlex="50%" fxLayoutGap="10px">
            <app-card-small
                title="{{ data.title }}"
                imgUrl="{{ data.imageUrl }}"
            ></app-card-small>
        </div>
        <div fxLayout="column" fxFlex="50%" *ngFor="let data of channels" style="margin-top: 10px;">
            <app-card-small
                title="{{ data.title }}"
                imgUrl="{{ data.imageUrl }}"
            ></app-card-small>
        </div>
    </div>
</div> -->