<div style="padding-top: 10px; font-size: 18px;">
    <mat-divider class="line-color"></mat-divider>

    <div fxLayout="row" fxLayoutAlign="center" style="padding: 7px; color: white;">
        <ul fxLayout="row">
            <li><a href="#"> Videos</a> / </li>
            <li><a href="#"> Peoples</a> / </li>
            <li><a href="#"> Documents</a> / </li>
            <li><a href="#"> Communities</a> / </li>
            <li><a href="#"> Favorites</a> / </li>
            <li><a href="#"> Channels</a> / </li>
        </ul>
    </div>

    <mat-divider class="line-color"></mat-divider>
</div>