<mat-divider style="border: 1px solid white; margin-top: 10px;"></mat-divider>

<footer>
    
    <div fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px">
        <div style="padding-top: 10px;" fxLayoutGap="10px">
            <button mat-mini-fab aria-label="Example icon button with a home icon">
                <mat-icon>facebook</mat-icon>
            </button>
            <button mat-mini-fab aria-label="Example icon button with a home icon">
                <mat-icon>shop</mat-icon>
            </button>
            <button mat-mini-fab aria-label="Example icon button with a home icon">
                <mat-icon>linkedin</mat-icon>
            </button>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="left" style="color: white;">
        <ul fxLayout="row" style="padding-left: 0;">
            <li><a href="#"> Videos</a> / </li>
            <li><a href="#"> Peoples</a> / </li>
            <li><a href="#"> Documents</a> / </li>
            <li><a href="#"> Communities</a> / </li>
            <li><a href="#"> Favorites</a> / </li>
            <li><a href="#"> Channels</a> / </li>
        </ul>
    </div>

    <div fxLayout="column" fxLayoutAlign="left">
        <div>Copyright CompanyName</div>
        <div>Privacy / Terms</div>
    </div>
</footer>
