<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <img src="" alt="SocialNetwork">
            <div fxFlex fxLayout="row" fxLayoutAlign="center">
                <ul fxLayout="row" fxLayoutGap="15px">
                    <li>
                        <div style="font-size: 12px">
                            <mat-form-field appearance="outline" fxFlex="500px">
                                <mat-label>Find</mat-label>
                                <mat-icon matSuffix>search</mat-icon>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                    </li>
                    <li>
                        <div style="margin-top:5px">
                            <button mat-raised-button class="btn-primary">Upload</button>
                        </div>
                        
                    </li>
                    <li>
                        <div fxFlex="" style="margin-left: 50px;">
                            <img class="profile-img" src="../../../../assets/images/avatar_unknown.jpeg" width="50" height="50" alt="avatar">
                            <ul class="flex-container column" style="display: inline-block;">
                                <li class="flex-item">
                                    <h2>Waseem</h2>
                                </li>
                                <li class="flex-item user-role">
                                    <span><small>Arshad </small></span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
